---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';


const metadata = {
  title: 'Nosotros',
};
---


<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Sobre Revista"
    image={{
      src: 'https://images.unsplash.com/photo-1698694840029-a8ff76ba8bb4?auto=format&fit=crop&q=80&w=1975&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
       <br />
      <span class="text-accent dark:text-white highlight"> Crítica</span>
    </Fragment>

    <Fragment slot="subtitle">
      Donec efficitur, ipsum quis congue luctus, mauris magna convallis mauris, eu auctor nisi lectus non augue. Donec
      quis lorem non massa vulputate efficitur ac at turpis. Sed tincidunt ex a nunc convallis, et lobortis nisi tempus.
      Suspendisse vitae nisi eget tortor luctus maximus sed non lectus.
    </Fragment>
  </Hero>
