---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';


const metadata = {
  title: 'Nosotros',
};
---


<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
<Hero
    tagline="Sobre la Revista"
    
  >
  <!--Hero
    tagline="Sobre Revista"
    image={{
      src: 'https://images.unsplash.com/photo-1698694840029-a8ff76ba8bb4?auto=format&fit=crop&q=80&w=1975&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Caos Image',
    }} 
  -->
    <Fragment slot="title">
       <br />
      <span class="text-accent dark:text-white highlight"> Crítica</span>
    </Fragment>

    <Fragment slot="subtitle" >
      “Del cuerpo al texto” es una revista de crítica escénica cuyo objetivo es el análisis hermenéutico de obras, principalmente de danza contemporánea, en el contexto actual de producción costarricense. Propone un acercamiento al análisis escénico desde una metodología tematológica e intermedial, apoyada por distintos cuerpos
teóricos: estudios culturales, teorías sobre el cuerpo, teoría de género, autoficción, entre otros. <br><br>

Cada artículo indaga en las estrategias presentes en los textos escénicos para configurar los distintos discursos. Para ello, examina los indicios corporales,
plásticos, verbales, etc., en relación con la creación de imágenes y significados en escena. <br><br>

“Del cuerpo al texto” procura la pluralidad, por ello combina rasgos de revista académica y revista cultural, a la vez que que se articula desde distintas secciones. En primer lugar, la crítica, que constituye el eje central de la plataforma. En segundo lugar, la investigación, la cual extiende y profundiza el análisis iniciado desde la
crítica. En tercer lugar, “Reverberaciones”, que se presenta como un espacio editorial para la reflexión más inmediata sobre tópicos relevantes al quehacer escénico.
    </Fragment>
  </Hero>
